html{
  width: 100%;
}
body {
  background: linear-gradient(
    to top right,
    rgb(44, 171, 225),
    rgb(37, 66, 144),
    rgb(35, 31, 32)
  );
  width:100%;

  font-family: Courier New, monospace;
}

.content {
  margin: 3em auto;
  max-width: 500px;
}
.addEvent {
  box-shadow: 0 5px 15px rgb(57, 168, 228);
  background-color: #39a8e4;
  padding: 10px;
  padding-left: 3em;
  padding-right: 3em;
  cursor: pointer;
  border-radius: 25px;
  color: #fff !important;
  background-image: linear-gradient(135deg, #8d8dd4, #45ced4);
}

.addEvent:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0 4px 25px rgb(57, 168, 228);
}
.notebook-page {
  padding: 90px 40px 40px 85px;
  background-color: #fff;
  background-image: linear-gradient(
    rgba(33, 150, 243, 0.27) 0.05em,
    transparent 0.05em
  );
  width: 97%;
  background-size: 100% 2em;
  position: relative;
  min-height: 500px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
}
  &:after {
    content: "";
    position: absolute;
    left: 10%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #ef5350;
  }
  .text-edit {
    display: none;
  }


textarea#msg {
  background: none;
  border: none;
  width: 100%;
  margin-top: 13px;
  color: #111;
  font-size: 24px;
  min-height: 450px;
  resize: none;
  line-height: 1.25;
}


aside.context {
  color: #fff;
  text-align: center;}

  a {
    color: #fff;
    text-decoration: none;
    color: #111;
    padding: 5px 0;
    border-bottom: 1px dashed;
  }
    &:visited {
      color: #fff;
    }
  
  .explanation {
    max-width: 700px;
    margin: 3em auto;
  }


footer {
  text-align: center;
  margin: 5em auto;
}
  a {
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
		border: 1px dashed #fff;
    color: #fff;
    margin: 5px;}

    &:hover {
      background: rgba(0,0,0,0.1);
    }
    .icons {
      margin-top: 12px;
      display: inline-block;
      font-size: 20px;
    }
  
    .calender{
      width:200px;
      height:250px;
      background-color: beige;
      position: relative;
    }
    
    .calender__top{
          top: 0;
    height: 50px;
    width: 100%;
    background-color: brown;
    content: "";
    position: absolute;
      }
      
    
    
    .calender__content{
      font-family: sans-serif;
      height:100%;
      padding-top: 80px;
    }
      .date{
        display: block;
        text-align: center;
        margin: 0;
        
        
          font-size: 1.8em;
          margin-bottom: 10px;
        }
        .date__day{
          font-size: 4.5em;
          margin-bottom: 5px;
        }
        .date__week{
          font-size: 1.2em;
        }
      
      
      
    
    

